<header>
  <h1>
    <a href="/index.html"> Influences & Inspirations</a>
  </h1>

  {% include site-nav.html %}

  <p>
    An accumulation of influences and inspirations across multiple genres
    ranging from paintings to furniture.
  </p>

  <section class="pgNav">
    <h3>{{ pageNum }} / 05</h3>
    <div class="arrows">
      {% assign previousPost = collections.home | getPreviousCollectionItem:
      page %} {% assign nextPost = collections.home | getNextCollectionItem:
      page %}
      <a
        href="{{ previousPost.url }}"
        {%
        if
        previousPost
        %}
        style="cursor: pointer"
        {%
        endif
        %}
      >
        <div class="arrowLeft"></div>
      </a>
      <a
        href="{{ nextPost.url }}"
        {%
        if
        nextPost
        %}
        style="cursor: pointer"
        {%
        endif
        %}
      >
        <div class="arrowRight"></div>
      </a>
    </div>
  </section>

  <div class="logo">
    <img src="/assets/name.svg" alt="" />
  </div>
</header>
