footer {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  height: 70px;
  box-sizing: border-box;

  ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
    width: 60%;
  }
  li {
    font-style: italic;
    font-weight: 300;
    list-style: none;
    margin: 5px;
  }
}
